---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Get Started'
import '../styles.css';

---

<BaseLayout title={title}>
		<h1>Astro</h1>
		<h1>Get Started</h1>
</BaseLayout>	
	
