---
import '../styles.css';
import Hero from '../components/hero.jsx';
import Navigator from '../components/navbar.jsx';


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Warthog Network</title>
	</head>
	<body>
		<Navigator client:load/>
	
		<Hero client:load />
	</body>
</html>
