---
import BaseLayout from '../layouts/BaseLayout.astro';

const newsUpdates = await Astro.glob('../content/news/*.md');

const sortedNewsUpdates = Object.values(newsUpdates).sort(
    (a, b) => {
        const dateA = new Date(b.frontmatter.date).getTime();
        const dateB = new Date(a.frontmatter.date).getTime();

        return dateB - dateA;
    }
);
---

<BaseLayout>
    <h1 class="">Latest News</h1>
    <ul>
        {sortedNewsUpdates.map((news) => (
        <li>
            <h2>{news.frontmatter.title}</h2>

            <p><small>{news.frontmatter.date}</small></p>
            <div set:html={news.compiledContent()}></div>
            
        </li>
        ))}
    </ul>
</BaseLayout>