---
import '../styles.css';
const links = [
    { name: 'GET STARTED', href: '/index2'},
    { name: 'NEWS', href: '/news2' },
    { name: 'DOCS', href: 'https://www.warthog.network/docs/'},
    { name: 'FAQS', href: '/faqs'},
    { name: 'EXPLORER', href: 'https://wartscan.io/'}
];

const networks = [
    { imgSrc: 'github.svg', href: 'https://github.com/warthog-network'},    
    { imgSrc: 'discord.svg', href: 'https://discord.com/invite/QMDV8bGTdQ'},
    { imgSrc: 'telegram.svg', href: 'https://t.me/warthognetwork'},
    { imgSrc: 'twitter.svg', href: 'https://x.com/warthognetwork'},    
];
---

<nav>
    <section class="flexrow">
        <img class="logo animate-fadeIn" src="/Images/Warthog_2024_Full Logo.svg" alt="logo"/>
        <div class='flexrow mt-3'>
        {links.map((link) => (
                <a class="logohome" href={link.href}>
                    <p class="logohome2 logo1left">{link.name}</p>
                </a>
        ))}
        </div>
        <div class='flexrow absolute top-0 right-0'>
            {networks.map((network) => (
                <a class="logohome" href={network.href}>
                    <p class="logohome2 logo1left"><img class='navlink' src={'/Images/' + network.imgSrc} alt="logo" /></p>
                </a>
            ))}
        </div>
    </section>
</nav>