---
import dunes from '../BalkyImages/dune-colorful-abstract-digital-art-4k-wallpaper-uhdpaper.com-192@1@n 1.png'

---
<section class="" >

 
    <img  class="DunesStyle p-5 min-w-[20rem]" src={dunes.src} alt=""/>
</section>