---
import Dunes from '../BalkyImages/dune-colorful-fullsize.jpg'
---
<div class="Hero">
    <div class='flex justify-left p-6 hero'>
       <section class="herotext">
          <h1 class="HeroTitle"> 
            Rethinking<br/>
            The Blockchain
          </h1>
          <p class="min-w-[25rem]">
            "Warthog’s decentralized network empowers individuals with fair, balanced, and synergized CPU/GPU work. 
            It secures hardcoded DeFi and token technologies, 
            eliminating the risks of smart contracts. Our goal is a safer, more efficient blockchain, 
            aligned with the original vision of cryptocurrency: 'one CPU, one vote.'"
          </p>
       </section>
     
    </div>
    <div class="hero container p-5">
      <img class="heroCutout" src ={Dunes.src} />      
      <button class="btn">where to buy</button>
    </div>
   

  </div>