---

---

    <div class='flex justify-left p-6'>
       <section>
          <h1 class="HeroTitle"> 
            Rethinking<br/>
            The Blockchain
          </h1>
          <p class="max-w-[25rem]">
            "Warthog’s decentralized network empowers individuals with fair, balanced, and synergized CPU/GPU work. 
            It secures hardcoded DeFi and token technologies, 
            eliminating the risks of smart contracts. Our goal is a safer, more efficient blockchain, 
            aligned with the original vision of cryptocurrency: "one CPU, one vote."
          </p>
       </section>
        <section>
          <img />
        </section>
       
    </div>
