---
import Dunes from '../BalkyImages/Dune Cropped For ClipPath.webp'
---
<div class="hero-grid">
    <div class="hero-grid-text">
        <div class="article-link">
            <span class="bold">How our tech is better?</span><span class="thin">Read our article</span>
        </div>
        <div class="pt-2">
            <div class="hero-text-title-bold">Rethinking</div> 
            <div class="hero-text-title">The Blockchain</div>
        </div>
        <p class="hero-text-text">
        Warthog's decentralized network empowers individuals with fair, balanced, and synergized CPU/GPU work. 
        It secures hardcoded DeFi and token technologies, 
        eliminating the risks of smart contracts. Our goal is a safer, more efficient blockchain, 
        aligned with the original vision of cryptocurrency: "one CPU, one vote."
        </p>
    </div>
   
    <div class="hero-grid-img">
      <img class="heroCutoutNew" src ={Dunes.src}  />      
      <button class="hero-img-btn">where to buy</button>
    </div>
</div>