---
import Dunes from '../BalkyImages/dune-colorful-abstract-digital-art-4k-wallpaper-uhdpaper.com-192@1@n 1.png'
---

    <div class='flex justify-left p-6 hero'>
       <section class="herotext">
          <h1 class="HeroTitle"> 
            Rethinking<br/>
            The Blockchain
          </h1>
          <p class="max-w-[25rem]">
            "Warthog’s decentralized network empowers individuals with fair, balanced, and synergized CPU/GPU work. 
            It secures hardcoded DeFi and token technologies, 
            eliminating the risks of smart contracts. Our goal is a safer, more efficient blockchain, 
            aligned with the original vision of cryptocurrency: "one CPU, one vote."
          </p>
       </section>
     
    </div>
    <section class="heroimg p-5">
      <img src ={Dunes.src} />
    </section>
   

   