---
import { Picture } from 'astro:assets';
const articles = [
    { imgSrc: 'NEWS.png', href: 'https://github.com/warthog-network'},    
    { imgSrc: 'NEWS2.png', href: 'https://discord.com/invite/QMDV8bGTdQ'},
    { imgSrc: 'NEWS3.png', href: 'https://t.me/warthognetwork'},
  
];
import NEWS from '../BalkyImages/NEWS.png';

---
<div class="whatsnew ">

 <a class="Article " href=''>
        <p class=""><img class=''  src={NEWS.src} alt="logo" /></p>
 </a>
 <a class="Article " href=''>
    <p class=""><img class=''  src={NEWS.src} alt="logo" /></p>
</a>

<a class="Article " href=''>
    <p class=""><img class=''  src={NEWS.src} alt="logo" /></p>
</a>

</div>
