@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  60% {
    opacity: 1;
    transform: translateY(0rem);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0rem);
  }
}

.animate-fadeIn {
  animation: fadeIn .25s ease-out forwards;
}

.parallax-bg {
  background-attachment: scroll;
  background-size: cover;
}

.wartChart {
  width: 100%;
  height: 400px;
}

.wartSectionHeading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}

.wartWhereToBuyBlock {
  width: 150px;
  height: 205px;
  margin-left: 40px;
  margin-right: 40px;
}

.wartWhereToBuyBlockText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}



.percentage {
  margin-left: auto;
}

.heroCutout {
  clip-path: path('M817.826 0.616318L13.1628 0.816334C5.89274 0.818396 0 7.40863 0 15.5392V81.9777C0 90.1103 5.89459 96.7026 13.1665 96.7026H58.743C66.0149 96.7026 71.9095 103.295 71.9095 111.428V371.076C71.9095 379.208 77.8041 385.801 85.076 385.801H570.123C577.395 385.801 583.289 379.208 583.289 371.076C583.289 371.076 583.289 326.601 583.289 318.468C583.289 310.335 589.184 303.743 596.456 303.743C603.728 303.743 817.834 303.743 817.834 303.743C825.105 303.743 831 297.151 831 289.018V15.3412C830.994 7.20655 825.098 0.616318 817.826 0.616318Z');
  border-radius: 10px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

small {
  font-size: xx-small;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.navlink{
    height: 2.5rem;
  }
/*hamburger*/
.hamburger {
  padding-right: 20px;
  cursor: pointer;
  padding: .5rem;
}

.container {
  position: relative;
  width: 100%;
}
.container img {
  width: 100%;
  height: auto;
}
.container .btn {
  position: absolute;
  top: 59%;
  left: 76%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: gold;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 15px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container .btn:hover {
  background-color: rgb(173, 150, 46);
}
.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  
  margin-bottom: 10px;
  background-color: #352e2e;
}
/* nav styles */

.nav-links {
  display: none;
}

.nav-links a {
  display: flex;
  justify-content: center;
}


.expanded {
  display: unset;
}

main{
  display: grid;
    grid-template-columns:  1fr;
    grid-template-areas: 
    'herotext'
    'heroimg'
    ;

}

@media screen and (min-width: 1024px) {
  .container {
    position: relative;
    width: 60rem;
  }
  .nav-links {
    margin-left: 5em;
  }

  .nav-links a {
    display: inline-block;
    padding: .5rem;
  }
  
  main{
  
    display: grid;
    grid-template-columns: .75fr 1fr;
    grid-template-areas: 
    'herotext heroimg'
    ;}
  /*hamburger*/
  .hamburger {
    display: none;
  }
}

.logo{
    height: 5rem;
    min-height: 3rem;
  }

  .logohome1{
    display: flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    border-radius: 4rem;
    position: relative;
   color: rgb(204, 174, 6);
   font-size: medium;
   
  }
  .logohome2{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    border-radius: 4rem;
    position: relative;
   
  
  }
  .logohome2:after {
    
    content: '';
   position: absolute;
   width: 100%;
   height: 0.01rem;
   left: 0;
   bottom: 0;
   background:yellow;
  }
  .logo1left::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    transform-origin: 0% 100%;
  }
  .logo2left::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    transform-origin: 0% 100%;
  }
  .logohome1:after {
   content: '';
   position: absolute;
   width: 100%;
   height: 0.01rem;
   left: 0;
   bottom: 0;
   background:yellow;
  }
  .logo1left::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    transform-origin: 0% 100%;
  }
.HeroTitle{
    font-size: 3rem;
}

  .logohome{
  
   justify-content: center;
    border-radius: 4rem;
    
    padding: .5rem;
  }
  .logo1left:hover::after{
   transform: scale(1,1);
  }
  .logo2left:hover::after{
    transform: scale(1,1);
   }