@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  60% {
    opacity: 1;
    transform: translateY(0rem);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0rem);
  }
}

.animate-fadeIn {
  animation: fadeIn .25s ease-out forwards;
}

.parallax-bg {
  background-attachment: scroll;
  background-size: cover;
}

.wartChart {
  width: 100%;
  height: 400px;
}

.wartSectionHeading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}

.wartWhereToBuyBlock {
  width: 150px;
  height: 205px;
  @apply md:mx-[40px] mx-4;
}

.wartWhereToBuyBlockText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.chartSelected {
  background-color: darkslategray;
}

.percentage {
  margin-left: auto;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

small {
  font-size: xx-small;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.navlink{
    height: 2.5rem;
  }
/*hamburger*/
.hamburger {
  padding-right: 20px;
  cursor: pointer;
  padding: .5rem;
}

.container {
  position: relative;
  width: 100%;
}
.container img {
  width: 100%;
  height: auto;
}
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: gold;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 15px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container .btn:hover {
  background-color: rgb(173, 150, 46);
}
.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  
  margin-bottom: 10px;
  background-color: #352e2e;
}
/* nav styles */

.nav-links {
  display: none;
}

.nav-links a {
  display: flex;
  justify-content: center;
}


.expanded {
  display: unset;
}


.NEWS{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}




/* =========START HERO2========== */
.article-link {
  width: 293px;
  height: 28px;
  background: #F0F0EF;
  border-radius: 13px;
  padding-left: 10px;
}

.article-link .bold {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: black;
}

.article-link .thin {
  margin-left: .5rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 10px;
  font-weight: 300;
  color: gray;
}

.hero-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fn 2fn;
  grid-template-areas: 
  'hero-text hero-img';
}
.hero-grid-text {
  width: 25rem;
  grid-area: hero-text;
}
.hero-text-title-bold {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-size: 50px;
  line-height: 53px;
  color: #1E1E1E;
}
.hero-text-title {
  font-family: 'Montserrat';
  font-size: 50px;
  line-height: 53px;
  color: #1E1E1E;
}
.hero-text-text {
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 27px;
  color: #1E1E1E;
}
.hero-grid-img {
  
  justify-self: end;
  grid-area: hero-img;
}
.hero-img-btn {
  position: absolute;
  bottom: 1rem;
  right: 1.2rem;
  background-color: gold;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 15px 50px;
  border: none; 
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 10px 17px 10px -10px;
}


@media screen and (max-width: 1024px){
  .heroCutoutNew {
    margin-top: 1rem;
    padding: 1rem;
  }

  .hero-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fn ;
    grid-template-areas: 
    'hero-text' 
    'hero-img';
  }
  .hero-img-btn {
    position: absolute;
    bottom: 6rem;
    right: 8rem;
    background-color: gold;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 13rem;
    padding: 10px 40px;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
  }

};
  

/*========END HERO2========*/

@media screen and (min-width: 1024px) {
  .container {
    position: relative;
    width: 60rem;
  }
  .nav-links {
    margin-left: 5em;
  }

  .nav-links a {
    display: inline-block;
    padding: .5rem;
  }
  


  .NEWS{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }


.container .btn {
  position: absolute;
  top: 59%;
  left: 76%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: gold;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 15px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
  /*hamburger*/
  .hamburger {
    display: none;
  }
}

.logo{
    height: 5rem;
    min-height: 3rem;
  }

  .logohome1{
    display: flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    border-radius: 4rem;
    position: relative;
   color: rgb(204, 174, 6);
   font-size: medium;
   
  }
  .logohome2{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    border-radius: 4rem;
    position: relative;
   
  
  }
  .logohome2:after {
    
    content: '';
   position: absolute;
   width: 100%;
   height: 0.01rem;
   left: 0;
   bottom: 0;
   background:yellow;
  }
  .logo1left::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    transform-origin: 0% 100%;
  }
  .logo2left::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    transform-origin: 0% 100%;
  }
  .logohome1:after {
   content: '';
   position: absolute;
   width: 100%;
   height: 0.01rem;
   left: 0;
   bottom: 0;
   background:yellow;
  }
  .logo1left::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    transform-origin: 0% 100%;
  }
.HeroTitle{
    font-size: 3rem;
}

  .logohome{
  
   justify-content: center;
    border-radius: 4rem;
    
    padding: .5rem;
  }
  .logo1left:hover::after{
   transform: scale(1,1);
  }
  .logo2left:hover::after{
    transform: scale(1,1);
   }