---
import '../styles.css';
import BaseHead from '../components/BaseHead.astro';
const {title} = Astro.props;
import MarketData from '../components/MarketData.astro';

---

<html lang="en">
	
		<BaseHead title={title}/>
      
	<body>
		
	
        <main>
            <slot />
        </main>
        
        <footer>
            <script>
                import "../scripts/menu.js";
              </script>
            <p><small>2024 Warthog site test.</small></p>
        </footer>
	</body>
</html>
