---
const { backgroundImage, scrollSpeed = "1", backgroundPositionY = "-50px" } = Astro.props;
---

<script>
    import { gsap } from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    class ParallaxEffect extends HTMLElement {
        connectedCallback() {
            const scrollSpeed = this.dataset.scrollspeed;
            const backgroundPositionY = this.dataset.backgroundpositiony;
            const parallaxBG = this.querySelector(".parallax-bg");
            //console.log('test');
            //console.log(this.dataset)
            //console.log("ScrollSpeed: " + scrollSpeed + ", BackgroundPosY: " + backgroundPositionY);

            if (typeof window !== "undefined") {
                gsap.to(parallaxBG, {
                    backgroundPositionY: backgroundPositionY,
                    scrollTrigger: {
                        trigger: this,
                        start: "top bottom", //Try top 80% to start the trigger early
                        end: "bottom top",
                        scrub: true,
                        markers: false
                        //Look into testing these additional properties
                        //anticipation: 1, //used to make the start and end transitions smoother
                        //invalidateOnRefresh: true, makes GSAP recalculate on resize of window
                        //pin: true //pins section to smooth out animation
                    },
                    duration: scrollSpeed,
                    //Could try adding ease: "power1.inOut" as another method to smooth
                });  
            }
           
        }
    }

    customElements.define('parallax-effect', ParallaxEffect)
</script>

<parallax-effect data-scrollSpeed={scrollSpeed} data-backgroundPositionY={backgroundPositionY}>
    <section class="relative h-screen parallax-bg bg-cover bg-center" style={`background-image: url(${backgroundImage})`}>
        <div class="absolute inset-0 flex items-center justify-center">
            <slot />
        </div>
    </section>
</parallax-effect>
